<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript"  src="/javascripts/jquery.js"></script>
    <script type="text/javascript"  src="/javascripts/json2.js"></script>
      <style>
          #map {
              height: 60%;
              margin: 10%;
          }
          html, body {
              height: 100%;
              margin: 0;
              padding: 2%;
          }
      </style>
    <script language="javascript" type="text/javascript">
        function UserList(jsons) {
            var table = document.getElementById("UserTable");
            var arr = eval(jsons);
            for (var i = 0; i < arr.length; i++) {
                var jsonObj = arr[i];
                var tr = table.insertRow(table.rows.length);
                var td0 = tr.insertCell(0);
                td0.align = "center";
                var td1 = tr.insertCell(1);
                td1.align = "center";
                var td2 = tr.insertCell(2);
                td2.align = "center";

                td0.innerHTML = jsonObj.review_count;
                td1.innerHTML = jsonObj.average_stars;
                td2.innerHTML = jsonObj.yelping_since;
            }
        }
    </script>
    <script language="javascript" type="text/javascript">
        function BusinessList(jsons) {
            var table = document.getElementById("BusinessTable");
            var arr = eval(jsons);
            for (var i = 0; i < arr.length && i<20; i++) {
                var jsonObj = arr[i];
                var tr = table.insertRow(table.rows.length);
                var td0 = tr.insertCell(0);
                td0.align = "center";
                var td1 = tr.insertCell(1);
                td1.align = "center";
                var td2 = tr.insertCell(2);
                td2.align = "center";
                var td3 = tr.insertCell(3);
                td3.align = "center";
                var td4 = tr.insertCell(4);
                td4.align = "center";

                td0.innerHTML = jsonObj.name;
                td1.innerHTML = jsonObj.full_address;
                td2.innerHTML = jsonObj.categories;
                td3.innerHTML = jsonObj.stars;
                td4.innerHTML = jsonObj.score.toFixed(1);
            }
        }
    </script>
    <script>
        function initMap(jsons) {
            var arr = eval(jsons);

            var cenLat = 0;
            var cenLng = 0;
            for (var i = 0; i < arr.length && i<20; i++){
                var jsonObj = arr[i];
                cenLat += jsonObj.latitude;
                cenLng += jsonObj.longitude;
            }
            cenLat /= i;
            cenLng /= i;

            var center = {lat: cenLat, lng: cenLng};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: center
            });
            //var Marker = [];
            var Info = [];
            for (var i = 0; i < arr.length && i<20; i++){
                var jsonObj = arr[i];
                var lat = jsonObj.latitude;
                var lng = jsonObj.longitude;
                var info = '<div id="content">'+
                        '<div id="siteNotice">'+
                        '</div>'+
                        '<h2 id="firstHeading" class="firstHeading">'+jsonObj.name+'</h2>'+
                        '<h3>stars: '+jsonObj.stars+'</h3>'+
                        '<p>'+jsonObj.categories+'</p>'+
                        '</div>';
                Info.push(info);
                var marker = new google.maps.Marker({
                    position: {lat: lat, lng: lng},
                    map: map,
                    title: jsonObj.name
                });
                (function (i, marker) {
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow = new google.maps.InfoWindow();
                        infowindow.setContent(Info[i]);
                        infowindow.open(map, marker);
                    });
                })(i, marker);
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWnhT807ngIAoZO23vea2aRcJ1otoXE3I&callback=initMap">
    </script>
  </head>
  <body onload="UserList(<%= JSON.stringify(user) %>); BusinessList(<%= JSON.stringify(contents) %>); initMap(<%= JSON.stringify(contents) %>);" background="../images/u=448124102,4271476439&fm=21&gp=0.jpg">
    <h1><%= title %></h1>
    <br>
    <br>
    <h1>Welcome ! <%= eval(JSON.stringify(user))[0].name%> !</h1>
    <table width="60%" border="0" cellspacing="50%" id="UserTable">
        <tr bgcolor="#FF7575" style="font-size:18px;FONT-WEIGHT:bold;">
            <td align="center">review_count</td>
            <td align="center">average_stars</td>
            <td align="center">yelping_since</td>
        </tr>
    </table>
    <br>
    <br>
    <a class="btn" href="/home">New Search</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn" href="/logout">Logout</a>
    <br>
    <br>
    <table width="100%" border="1" cellspacing="50%" id="BusinessTable">
        <tr bgcolor="#CA8EFF" style="font-size:18px;FONT-WEIGHT:bold;">
            <td align="center">name</td>
            <td align="center">address</td>
            <td align="center">category</td>
            <td align="center">stars</td>
            <td align="center">score</td>
        </tr>
    </table>
    <br>
    <br>
    <div id="map"></div>
</body>
</html>
