<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript"  src="/javascripts/jquery.js"></script>
    <script type="text/javascript"  src="/javascripts/json2.js"></script>
    <script language="javascript" type="text/javascript">
        function UserList(jsons) {
            var table = document.getElementById("UserTable");
            var arr = eval(jsons);
            for (var i = 0; i < arr.length; i++) {
                var jsonObj = arr[i];
                var tr = table.insertRow(table.rows.length);
                var td0 = tr.insertCell(0);
                td0.align = "center";
                var td1 = tr.insertCell(1);
                td1.align = "center";
                var td2 = tr.insertCell(2);
                td2.align = "center";

                td0.innerHTML = jsonObj.review_count;
                td1.innerHTML = jsonObj.average_stars;
                td2.innerHTML = jsonObj.yelping_since;
            }
        }
    </script>
  </head>
  <body onload="UserList(<%= JSON.stringify(user) %>);" background="../images/u=448124102,4271476439&fm=21&gp=0.jpg">
    <h1><%= title %></h1>
    <br>
    <br>
    <h1>Welcome ! <%= eval(JSON.stringify(user))[0].name%> !</h1>
    <a class="btn" href="/push_view">You have <%= eval(JSON.stringify(user))[0].push.length %> Push Notice !</a>
    <br>
    <br>
    <table width="60%" border="0" cellspacing="50%" id="UserTable">
        <tr bgcolor="#FF7575" style="font-size:18px;FONT-WEIGHT:bold;">
            <td align="center">review_count</td>
            <td align="center">average_stars</td>
            <td align="center">yelping_since</td>
        </tr>
    </table>
    <br>
    <br>
    <div class="container">
        <form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post">
            <fieldset>
                <legend>Search a Business</legend>
                <div class="form-group">
                    <br>
                    <label class="col-sm-3 control-label" for="Location">Location</label>
                    <br>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="Location" name="Location" placeholder="Location" required>
                        <br>
                        <input type="checkbox", name="city", id="city",checked='checked'> Search by City
                        <input type="checkbox", name="cood", id="cood",checked='checked'> Search by Longitude and Latitude
                    </div>
                </div>
                <div class="form-group">
                    <br>
                    <label class="col-sm-3 control-label" for="Category">Category</label>
                    <br>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="Category" name="Category" placeholder="Category">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <br>
    <br>
    <a class="btn" href="/logout">Logout</a>

</body>
</html>
